In [1]:
import pandas as pd
import numpy as np
from textblob import TextBlob

### Amazon Alexa Reviews Dataset

This data was extracted from Amazon and made available at [Kaggle](https://www.kaggle.com/sid321axn/amazon-alexa-reviews).

This dataset consists of a nearly 3000 Amazon customer reviews (input text), star ratings, date of review, variant and feedback of various amazon Alexa products like Alexa Echo, Echo dots, and Alexa Firesticks.

In [2]:
data = pd.read_csv('data/amazon_alexa.tsv', delimiter='\t')
data.head()

,rating,date,variation,verified_reviews,feedback
0,5,31-Jul-18,Charcoal Fabric,Love my Echo!,1
1,5,31-Jul-18,Charcoal Fabric,Loved it!,1
2,4,31-Jul-18,Walnut Finish,"Sometimes while playing a game, you can answer...",1
3,5,31-Jul-18,Charcoal Fabric,I have had a lot of fun with this thing. My 4 ...,1
4,5,31-Jul-18,Charcoal Fabric,Music,1

- Using TextBlob count the number of words in each review, put the results in a new column `words`
- Is there a correlation between the length of the review and its rating? 
- Using TextBlob extract the nouns (in a list) of each review, put the results in a new column `nouns`
- Let us create a high-level summary of review content per rating. Combine the `nouns` per rating. **HINT: you can use groupby then sum to combine lists**
- Next, convert each list (of a rating) to a dictionary with keys being words and values are the counts. Order by values descending
- Compare ratings 1 and 5 any notable differences?